.App {
  text-align: center;
  background-image: url("./images/pexels-ray-piedra-1565982.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: solid saddlebrown;
}
